@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@500&display=swap');

body{
    /* background-color: antiquewhite; */
    background-color: red;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Mulish', sans-serif;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: aliceblue;
}

nav ul li{
    padding: 0 12px;
}

.logo img{
    width: 50px;
    height: 50px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    padding: 0px 4px;
}

.logo{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.5rem;
}


.container{
    min-height: 72vh;
    background-color: black;
    color: white;
   font-family: 'Varela Round', sans-serif;
   display: flex;
   margin: 23px auto;
   width: 70%;
   border-radius: 12px;
   padding: 34px;
   background-image: url('bg.jpg');
}


.bottom{
    position: sticky;
    height: 100px;
    background-color: black;
    color: aliceblue;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icons{
    margin-top: 15px;
}

.icons i{
    cursor: pointer;
}

#progBar{
    width: 80vw;
    /* color: brown; */
    /* background-color: rgb(234, 15, 15);
    color: bisque; */
    cursor: pointer;
}

.songContain{
    margin-top: 60px;
}

.songItem{
    height: 47px;
    display: flex;
    background-color: antiquewhite;
    font-weight: bolder; 
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;

}

.songItem img{
    width: 40px;
    margin: 0 23px;
    border-radius: 35px;
}

.timestamp{
    margin: 0 13px;
}

.timestamp i{
    margin: 0 10px;
    cursor: pointer;
}

.songInfo{
    position: absolute;
    left: 9vw;
    font-family: 'Varela Round', sans-serif;
}

.songInfo img{
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.bi-shuffle{
    margin: 0 3px;
    font-weight: bolder;
    cursor: pointer; 
}

.bi-caret-down-square{
    margin: 0 3px;
    font-weight: bolder;
    cursor: pointer; 
}


